    <div class = "container">
      <div class = "row pt-2">
        <div class="col-md-9">
          <div id="articles" class = "pt-3 pr-2 pl-2">
            
            {{#each articles}}
            {{#if saved}}
            
            <div class = "row pt-2 pb-0 pr-0 pl-0 m-0">
              <div class="col-md-9 p-0 m-0">
                <h5 data-id="{{_id}}">{{title}}</h5>
              </div>
              <div class="col-md-3 p-0 m-0">
                <button type="button" class="trash btn btn-danger btn-sm float-right ml-1" data-id="{{_id}}" data-saved="{{saved}}"><i class="far fa-trash-alt"></i></button>
                <button type="button" class="addNote btn btn-secondary float-right btn-sm" data-id="{{_id}}" data-saved="{{saved}}">Add Note
                </button>
              </div>
            </div>
            <a href = "{{link}}" target = "_blank" class = "text-secondary">{{link}}</a>
            <hr class = "pb-0">
            <div class = "row pt-3 pr-4 pl-4 notespace">
              <p>Notes:</p>
                <div class="col-md-1"></div>
                <div class="col-md-11">
                  {{#each note}}


                  <h6><i class="far fa-clipboard"></i>&nbsp{{title}}</h6>
                  <p class = "font-weight-light pl-4">{{body}}</p>

                  {{/each}}
                </div>
            </div>
            {{/if}}
            {{/each}}


          </div>
        </div>
        <div class = "col-md-3">
          <div id="notes">
          </div>
        </div>
      </div>
    </div>